<div class="thumbnail" style="margin-top: 30px">
  <img class="img-responsive" src="http://placehold.it/800x300" alt="">
  <div class="caption-full">
    <h4><%= humanized_money_with_symbol @ad.price %></h4>
    <h4><%= @ad.title %></h4>
    <p><%= @ad.description %></p>
  </div>
</div>

<div class="well">

  <% if member_signed_in? %>
    <div class="text-right">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">
        Comment
      </button>
    </div>
  <% end %>

  <hr>

  <%= render partial: 'site/ad_datail/comment' %>

</div>

<%= render partial: 'site/ad_datail/comment_modal' %>
